{% load staticfiles %}
<html>
<header>Bem vindo à nossa lista de protudos</header>
<body>
  <p><h1>Por onde começar?</h1></p>
  <p><h2>Escolha por classificação, os produtos que gostaria de ver</h2></p>
  <div class='item'>
  	<link href="https://fonts.googleapis.com/css?family=Dekko&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/lindo.css' %}">
    <p><h2><a href="{% url 'multipla:comida' %}">Alimentos</a></h2></p>
    <p><h2><a href="{% url 'multipla:acessorios' %}">Acessórios</a></h2></p>
    <p><h2><a href="{% url 'multipla:educa' %}">Educação</a></h2></p>
    <p><h2><a href="{% url 'multipla:higiene' %}">Higiene</a></h2></p>
    <p><h2><a href="{% url 'multipla:anti' %}">Anti parasitas</a></h2></p>
  </div>
</body>